body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
     
  }
  
  header {
    background-color: #f2f2f2;
    padding: 0px;
  }
  
  main {
    border: 30px solid rgb(225, 109, 185);
    padding: 20px;
    background-color: white;
  }
  
  h1, h2 {
    font-weight: bold;
  }

  h1 {
    margin-bottom: 0;

  }
  
  h2 {
    font-family: ;
    font-style: italic;
    margin-top: 0;

  }

  section {
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .image {
    flex: 1;
    margin-right: 20px;
  }

  .image img {
    width: 700px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.actions {
    display: flex;
    justify-content: center; /* Add this line to horizontally center the button */
    margin-top: 20px;
}

.actions button {
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(225, 109, 185);
  color: rgb(255, 255, 255);
}