
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  min-height: 100vh;
  background-image: url("images/card\ game\ background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(242, 8, 168);
    }

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #ff63e0;
  }

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  }
        
.actions {
  display: flex;
  justify-content: center;
  }

.actions button {
  padding: 8px 16px;
  font-size: 40px;
  border-radius: 10px;
  background-color: #ff63e0;
  color: rgb(255, 255, 255);
  }

.board-container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(2, calc(200px / 2 * 3));
  }

.card {
  height: calc(200px / 2 * 3);
  width: 200px;
  border-radius: 10px;
  background-color: rgb(255, 196, 3);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s ease-in-out;
  }

.front-image {
  width: 110px;
  height: 80px;
  }

.card.flipped {
  transform: rotateY(180deg);
  }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  }

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  transform: rotateY(180deg);
  }

.card .back{
  background-image: url('images/backofcard.jpg');
  background-size: cover;
  }

  